<div class="form-group{{ field.vars.valid == false ? ' has-error' : '' }}">
    <label>{{ title }}</label>
    <textarea name="{{ name }}" class="form-control" rows="3" placeholder="{{ placeholder }}"></textarea>
</div>
{% if field.vars.errors|length %}
    <ul class="list-style-none padding-right-0px red">
        {% for error in field.vars.errors %}
            <li>{{ error.message|trans }}</li>
        {% endfor %}
    </ul>
{% endif %}