{% if filters.search %}
    {% include ':block:search.html.twig' with {'search': filters.search} %}
{% endif %}

{% if filters.filters.sender is defined %}
    {% include ':block:filter.html.twig' with {
    'name': 'sender',
    'title': 'ارسال کننده'
    } %}
{% endif %}

{% if filters.filters.receiver is defined %}
    {% include ':block:filter.html.twig' with {
    'name': 'receiver',
    'title': 'دریافت کننده'
    } %}
{% endif %}

{% if filters.filters.status is defined %}
    {% include ':block:filter.html.twig' with {
    'name': 'status_read',
    'title': 'وضعیت پیام'
    } %}
{% endif %}

<!-- /.box-header -->
<div class="box-body">
    <table id="render" class="table table-striped table-hover datagrid">
        <thead>
        <tr>
            <th id="_check" style="width: 25px;"><input type="checkbox" id="datagrid_check_all_key" value="1" /></th>
            <th id="_counter" style="width: 10px">#</th>
            <th id="title"><a href="javascript:void(0)" onclick="ajax_sort('title')">{{ grid_column('title', 'عنوان', filters)|raw }}</a></th>
            <th id="sender" style="width: 150px"><a href="javascript:void(0)" onclick="ajax_sort('sender')">{{ grid_column('sender', 'از طرف', filters)|raw }}</a></th>
            <th id="receiver" style="width: 150px"><a href="javascript:void(0)" onclick="ajax_sort('receiver')">{{ grid_column('receiver', 'ارسال به', filters)|raw }}</a></th>
            <th id="receiver" style="width: 100px"><a href="javascript:void(0)" onclick="ajax_sort('status_read')">{{ grid_column('status_read', 'وضعیت', filters)|raw }}</a></th>
            <th id="receiver" style="width: 100px; text-align: center"><a href="javascript:void(0)" onclick="ajax_sort('createdAt')">{{ grid_column('createdAt', 'تاریخ ارسال', filters)|raw }}</a></th>
            <th id="_action" style="width: 80px">مدیریت</th>
        </tr>
        </thead>
        <tbody>
        {% set start = filters.page * filters.count %}
        {% for item in items %}
        <tr>
            <td><input type="checkbox" class="datagrid_check_all" value="{{ item.id }}"></td>
            <td>{{ (loop.index + start)|pnum }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.sender.fullname }}</td>
            <td>{{ item.receiver.fullname }}</td>
            <td>{{ item.status_read|trans|raw }}</td>
            <td style="text-align: center">{{ item.createdAt|jdate('Y/m/d') }}</td>
            <td>
                <a class="btn btn-xs btn-default" href="{{ path('admin_notice_message_edit', {id: item.id}) }}"><i class="fa fa-edit margin-3px"></i></a>
                <a class="btn btn-xs btn-default" href="javascript:void(0)" onclick="do_delete({{ item.id }})"><i class="fa fa-remove margin-3px"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- /.box-body -->
{% include ':block:pagination_ajax.html.twig' %}