{% for node in nodes %}
    {% if node.name|length > 10 %}
        {% set name_short = node.name[:10] %}
    {% else %}
        {% set name_short = node.name %}
    {% endif %}
    {% if node.name|length > 15 %}
        <style>
            #node_{{ node.id }} .hoverfullname:hover{
                text-align: right;
            }
        </style>
    {% endif %}
    <table class="node node-{{ node.mediaType ? 'file' : 'folder' }}" id="node_{{ node.id }}">
        <tbody>
            <tr>
                <td class="thumb">
                    <a href="javascript:void(0)" onclick="explore({{ node.id }})"><img src="/assets/images/folder.png"></a>
                </td>
            </tr>
            <tr>
                <td class="title">
                    <div class="name_wrapper">
                        {% if name_short == node.name %}
                            <div class="hovername">{{ node.name }}</div>
                        {% else %}
                            <div class="hoverfullname" onmouseover="$(this).html('{{ node.name }}');" onmouseout="$(this).html('{{ name_short }} ...')">{{ name_short }} ...</div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="owner">{{ node.owner.fullname }}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}