{% set theme_base = 'admin' %}
{% extends 'block/datagrid.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include ':vendor:select2.html.twig' %}
{% endblock %}

{% set datagrid_title = 'مدیریت اطلاعیه ها' %}
{% set datagrid_url = path('admin_notice_notification_remote_list') %}

{% block commandbar %}
    {{ parent() }}
    <a href="{{ path('admin_notice_notification_add') }}" class="btn btn-success">ارسال اطلاعیه جدید</a>
    <a href="javascript:void(0)" onclick="do_delete_all()" class="btn btn-danger">حذف انتخاب شده ها</a>
{% endblock %}

{% block datagrid_custom_toolbar %}
    {% include ':filter:receiver.html.twig' %}
    {% include ':filter:status_see.html.twig' %}
{% endblock %}


{% block footer %}
    {{ parent() }}
    <script>

        function do_delete(id){
            ajax_delete("{{ path('admin_notice_notification_delete') }}", {ids : id});
        }

        function do_filter() {
            ajax_filter('receiver', $('#filter-receiver').val());
            ajax_filter('statusSee', $('#filter-status-see option:selected').val());
            ajax_refresh_list();
        }

    </script>
{% endblock %}

