{% set theme_base = 'admin' %}
{% extends 'block/datagrid.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include ':vendor:select2.html.twig' %}
{% endblock %}

{% set datagrid_title = 'مدیریت اطلاعیه ها' %}
{% set datagrid_url = path('admin_notice_notification_remote_list') %}

{% block commandbar %}
    {{ parent() }}
    <a href="{{ path('admin_notice_notification_add') }}" class="btn btn-success">ارسال اطلاعیه جدید</a>
    <a href="javascript:void(0)" onclick="do_delete_all()" class="btn btn-danger">حذف انتخاب شده ها</a>
{% endblock %}

{% block datagrid_custom_toolbar %}
    {% include ':filter:receiver.html.twig' with {'path' : path('admin_notice_message_remote_users')} only %}
    {% include ':filter:see.html.twig' %}
{% endblock %}


{% block footer %}
    {{ parent() }}
    <script>
        function do_delete(id){
            ajax_delete(function(){
                ajax_request("{{ path('admin_notice_notification_delete') }}", {ids: id}, {
                    beforeSend: function () {
                        modalConfirm.wait();
                    },
                    done: function(data){
                        if(data.success == 1){
                            modalConfirm.done();
                            setTimeout(function () {
                                modalConfirm.hide();
                            }, 500);
                            ajax_refresh_list();
                        } else {
                            modalConfirm.show('پاسخ دریافت شده معتبر نمی باشد', 'باشه', 'default', function(){
                                modalConfirm.hide();
                            });
                        }
                    }
                });
            });
        }

        function do_delete_all(){
            var ids = $(".datagrid_check_all:checked").map(function(){
                return $(this).val();
            }).get();
            if(ids == ''){
                modalConfirm.show('حداقل یک سطر جهت حذف انتخاب نمایید.', 'باشه', 'default', function(){
                    modalConfirm.hide();
                });
            } else {
                do_delete(ids);
            }
        }

        function filter_sender_reset() {
            $('#filter-sender').html('');;
            do_filter()
        }

        function filter_receiver_reset() {
            $('#filter-receiver').html('');;
            do_filter()
        }

        function filter_status_reset() {
            $('#datagrip-notification-state').val('');
            do_filter()
        }

        function do_filter() {
            ajax_filter('status', $('#datagrip-notification-state option:selected').val());
            ajax_filter('sender', $('#filter-sender').val());
            ajax_filter('receiver', $('#filter-receiver').val());
            ajax_refresh_list();
        }

        $('#filter-receiver').select2({
            language: 'fa',
            dir: 'rtl',
            placeholder: 'دریافت کننده',
            ajax: {
                url: '{{  path('admin_notice_notification_remote_users') }}',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        query: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {

                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            minimumInputLength: 1,
            templateResult: function (repo) {

                if (repo.loading) {
                    return repo.text;
                }

                var markup = "<div class='select2-result-repository clearfix'>" +
                    "<div class='select2-result-repository__meta'>" +
                    "<div class='select2-result-repository__title'>" + repo.fullname + "</div>" +
                    "<div class='select2-result-repository__email'>" + repo.email + "</div>" +
                    "</div>" +
                    "</div>";

                return markup;
            },
            templateSelection: function (repo) {
                return repo.fullname || repo.text;
            }
        });

        ajax_search($('#datagrid_table_search').val());

    </script>
{% endblock %}

