{% extends 'NewsCategoryBundle::layout.html.twig' %}

{% block layout_body %}
    <h1>Cat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cat.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ cat.title }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cat.name }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if cat.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if cat.createdAt %}{{ cat.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if cat.updatedAt %}{{ cat.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if cat.deletedAt %}{{ cat.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('news_cat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('news_cat_edit', { 'id': cat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
