{% set theme_base = 'admin' %}
{% extends 'block/datagrid.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include ':vendor:select2.html.twig' %}
{% endblock %}

{% set datagrid_title = 'مدیریت پیام ها' %}
{% set datagrid_url = path('admin_notice_message_remote_list') %}

{% block commandbar %}
    {{ parent() }}
    <a href="{{ path('admin_notice_message_add') }}" class="btn btn-success">ارسال پیام جدید</a>
    <a href="javascript:void(0)" onclick="do_delete_all()" class="btn btn-danger">حذف انتخاب شده ها</a>
    <a href="javascript:void(0)" onclick="modalMediaManager.show()" class="btn btn-primary">مدیریت رسانه</a>
{% endblock %}

{% block datagrid_custom_toolbar %}
    {% include ':filter:sender.html.twig' %}
    {% include ':filter:receiver.html.twig' %}
    {% include ':filter:status_read.html.twig' %}
{% endblock %}


{% block footer %}
    {{ parent() }}
    <script>

        function do_delete(id){
            ajax_delete("{{ path('admin_notice_message_delete') }}", {ids : id});
        }

        function do_filter() {
            ajax_filter('sender', $('#filter-sender').val());
            ajax_filter('receiver', $('#filter-receiver').val());
            ajax_filter('statusRead', $('#filter-status-read option:selected').val());
            ajax_refresh_list();
        }

    </script>
{% endblock %}

