{% if filters.search %}
    {% include ':block:search.html.twig' with {'search': filters.search} %}
{% endif %}

{% if filters.filters.role is defined %}
    {% include ':block:filter.html.twig' with {
    'name': 'role',
    'title': 'نقش'
    } %}
{% endif %}

{% if filters.filters.usergroup is defined %}
    {% include ':block:filter.html.twig' with {
    'name': 'usergroup',
    'title': 'گروه کاربری'
    } %}
{% endif %}

<!-- /.box-header -->
<div class="box-body">
    <table id="render" class="table table-striped table-hover datagrid">
        <thead>
        <tr>
            <th id="_check" style="width: 25px;"><input type="checkbox" id="datagrid_check_all_key" value="1" /></th>
            <th id="_counter" style="width: 10px">#</th>
            <th id="fullname"><a href="javascript:void(0)" onclick="ajax_sort('fullname')">{{ grid_column('fullname', 'نام', filters)|raw }}</a></th>
            <th id="email" style="width: 200px"><a href="javascript:void(0)" onclick="ajax_sort('email')">{{ grid_column('email', 'آدرس ایمیل', filters)|raw }}</a></th>
            <th id="role" style="width: 150px">نقش</th>
            <th id="_usergroups" style="width: 200px">گروه های کاربری</th>
            <th id="_action" style="width: 80px">مدیریت</th>
        </tr>
        </thead>
        <tbody>
        {% set start = filters.page * filters.count %}
        {% for item in items %}
        <tr>
            <td><input type="checkbox" class="datagrid_check_all" value="{{ item.id }}"></td>
            <td>{{ (loop.index + start)|pnum }}</td>
            <td>{{ item.fullname }}</td>
            <td>{{ item.email }}</td>
            <td>{{ roles[item.role] }}</td>
            <td>
                {% for group in item.usergroups %}
                <div>{{ group }}</div>
                {% endfor %}
            </td>
            <td>
                <a class="btn btn-xs btn-default" href="{{ path('admin_users_user_edit', {id: item.id}) }}"><i class="fa fa-edit margin-3px"></i></a>
                <a class="btn btn-xs btn-default" href="javascript:void(0)" onclick="do_delete({{ item.id }})"><i class="fa fa-remove margin-3px"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- /.box-body -->
{% include ':block:pagination_ajax.html.twig' %}