<div class="form-group">
    {% for permid,permission in permissions %}
    <div class="row">
        <div class="col-xs-12">
            <div class="permission-box">
                <div class="header">
                    <label><input type="checkbox" id="perm_{{ permid }}" /> {{ permission.title }}</label>
                </div>
                <div class="body">
                    {% for permboxid,permissionbox in permission.getSortedStack %}
                        <div class="row list-checkbox">
                            <div class="col-xs-12">
                                <label><input type="checkbox" class="perm_{{ permid }}_item" id="perm_{{ permid }}_box_{{ permboxid }}" /> {{ permissionbox.title }}</label>
                                <hr/>
                            </div>
                            {% for name,title in permissionbox.permissions %}
                                <div class="col-sm-6 col-md-4 col-lg-3"><label><input type="checkbox" class="perm_{{ permid }}_item perm_{{ permid }}_box_{{ permboxid }}_item" name="permissions[]" value="{{ name }}" {% if name in form.vars.value.permissions %} checked="checked"{% endif %}> {{ title }}</label></div>
                            {% endfor %}
                        </div>
                        <script>
                            $('#perm_{{ permid }}_box_{{ permboxid }}').change(function(){
                                if($(this).is(':checked')){
                                    $('.perm_{{ permid }}_box_{{ permboxid }}_item').prop('checked', true);
                                } else {
                                    $('.perm_{{ permid }}_box_{{ permboxid }}_item').prop('checked', false);
                                }
                            });

                            $('.perm_{{ permid }}_box_{{ permboxid }}_item').change(function(){
                                if($(".perm_{{ permid }}_box_{{ permboxid }}_item:not(:checked)").length){
                                    $('#perm_{{ permid }}_box_{{ permboxid }}').prop('checked', false);
                                } else {
                                    $('#perm_{{ permid }}_box_{{ permboxid }}').prop('checked', true);
                                }
                            });

                            if($(".perm_{{ permid }}_box_{{ permboxid }}_item:not(:checked)").length){
                                $('#perm_{{ permid }}_box_{{ permboxid }}').prop('checked', false);
                            } else {
                                $('#perm_{{ permid }}_box_{{ permboxid }}').prop('checked', true);
                            }
                        </script>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#perm_{{ permid }}').change(function(){
            if($(this).is(':checked')){
                $('.perm_{{ permid }}_item').prop('checked', true);
            } else {
                $('.perm_{{ permid }}_item').prop('checked', false);
            }
        });

        $('.perm_{{ permid }}_item').change(function(){
            if($(".perm_{{ permid }}_item:not(:checked)").length){
                $('#perm_{{ permid }}').prop('checked', false);
            } else {
                $('#perm_{{ permid }}').prop('checked', true);
            }
        });

        if($(".perm_{{ permid }}_item:not(:checked)").length){
            $('#perm_{{ permid }}').prop('checked', false);
        } else {
            $('#perm_{{ permid }}').prop('checked', true);
        }
    </script>
    {% endfor %}
</div>