{% extends 'NewsCategoryBundle::layout.html.twig' %}

{% block layout_body %}

    <h1>Cat list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>عنوان</th>
                <th>نام</th>
                <th>فعال</th>
                <th>تاریخ ایجاد</th>
                <th>تاریخ بروزرسانی</th>
                <th>مدیریت</th>
            </tr>
        </thead>
        <tbody>
        {% for cat in cats %}
            <tr>
                <td><a href="{{ path('news_cat_show', { 'id': cat.id }) }}">{{ cat.id }}</a></td>
                <td>{{ cat.title }}</td>
                <td>{{ cat.name }}</td>
                <td>{% if cat.active %}Yes{% else %}No{% endif %}</td>
                <td>{% if cat.createdAt %}{{ cat.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cat.updatedAt %}{{ cat.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cat.deletedAt %}{{ cat.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('news_cat_show', { 'id': cat.id }) }}">مشاهده</a>
                        </li>
                        <li>
                            <a href="{{ path('news_cat_edit', { 'id': cat.id }) }}">ویرایش</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('news_cat_new') }}">ایجاد عنوان جدید</a>

{% endblock %}
