{% extends 'AppBundle::layout.html.twig' %}

{% block layout_body %}

    <style>
        body{background: #f9f9f9}
    </style>

    <div class="row margin-top-100px">
        <div class="col-sm-4 col-sm-offset-4">

            {% if error %}
                <div class="alert alert-error-flat margin-bottom-15px" role="alert">
                    <ul class="list-style-none padding-right-15px">
                        <li><i class="fa fa-quote-right  margin-left-5px"></i> {{ error|trans }}</li>
                    </ul>
                </div>
            {% endif %}

            <div class="panelbox">

                <form action="{{ path('reset') }}" method="post" novalidate="novalidate">

                    <div class="form-group">
                        <label>آدرس ایمیل</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                            <input type="email" class="form-control" id="email" name="{{ form.email.vars.full_name }}" value="{{ form.email.vars.value }}" placeholder="آدرس ایمیل را وارد نمایید" />
                        </div>
                    </div>

                    <div class="margin-top-30px"></div>
                    <input type="submit" class="btn btn-success btn-block" value="بازیابی رمز عبور">

                    {{ form_row(form._token) }}

                </form>
            </div>

            <div class="margin-top-25px"></div>
            <div class="center"><a href="{{ path('login') }}">بازگشت به فرم ورود به اشتراک</a></div>

        </div>
    </div>

    <script>
        showPassword('.form-password');
    </script>

{% endblock %}