{% extends 'AppBundle::layout.html.twig' %}

{% block layout_body %}

    <div class="row margin-top-100px">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

            {% if error is defined  %}
                <div class="alert alert-error-flat margin-bottom-15px" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <div class="panelbox">

                <form action="{{ path('reset_update', {'token':token}) }}" method="post" novalidate="novalidate">

                    <div class="form-group has-feedback form-password{{ form.password.vars.valid == false ? ' has-error' : '' }}">
                        <label>کلمه عبور جدید </label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                            <input type="password" class="form-control" id="password" name="password" placeholder="کلمه عبور جدید را وارد نمایید" />
                            <i class="fa fa-eye-slash form-control-feedback padding-10px mouse-hand pointer-events-inherit password-key gray-hover"></i>
                        </div>
                        {% if form.password.vars.errors|length > 0 %}
                            <div class="field-error" role="alert">
                                {{ form.password.vars.errors[0].message|trans }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="margin-top-30px"></div>
                    <input type="submit" class="btn btn-success btn-block" value="بروزرسانی رمز عبور">

                    {{ form_row(form._token) }}

                </form>
            </div>

        </div>
    </div>

    <script>
        showPassword('.form-password');
    </script>

{% endblock %}