{% if filters.search %}
<div class="alert alert-warning-flat alert-dismissible margin-top-10px margin-bottom-5px">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="ajax_search('')">×</button>
    نتایج حاصل از جستجوی {{ filters.search }}
</div>
{% endif %}

<!-- /.box-header -->
<div class="box-body">
    <table id="render" class="table table-striped table-hover datagrid">
        <thead>
        <tr>
            <th id="_check" style="width: 25px;"><input type="checkbox" id="datagrid_check_all_key" value="1" /></th>
            <th id="_counter" style="width: 10px">#</th>
            <th id="title"><a href="javascript:void(0)" onclick="ajax_sort('title')">{{ grid_column('title', 'عنوان', filters)|raw }}</a></th>
            <th id="name" style="width: 150px"><a href="javascript:void(0)" onclick="ajax_sort('name')">{{ grid_column('name', 'نام', filters)|raw }}</a></th>
            <th id="_action" style="width: 80px">مدیریت</th>
        </tr>
        </thead>
        <tbody>
        {% set start = filters.page * filters.count %}
        {% for item in items %}
        <tr>
            <td><input type="checkbox" class="datagrid_check_all" value="{{ item.id }}"></td>
            <td>{{ (loop.index + start)|pnum }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.name }}</td>
            <td>
                <a class="btn btn-xs btn-default" href="{{ path('admin_users_group_edit', {id: item.id}) }}"><i class="fa fa-edit margin-3px"></i></a>
                <a class="btn btn-xs btn-default" href="javascript:void(0)" onclick="do_delete({{ item.id }})"><i class="fa fa-remove margin-3px"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- /.box-body -->
{% include ':block:pagination_ajax.html.twig' %}