{% extends 'AppBundle::layout.html.twig' %}

{% block layout_body %}

    <div class="row margin-top-100px">
        <div class="col-sm-4 col-sm-offset-4">

            {% if error %}
                <div class="alert alert-error-flat margin-bottom-15px" role="alert">
                    <ul class="list-style-none padding-right-15px">
                        <li><i class="fa fa-quote-right  margin-left-5px"></i> {{ error.message|trans }}</li>
                    </ul>
                </div>
            {% endif %}

            <div class="panelbox">

                <form action="{{ path('register') }}" method="post" novalidate="novalidate">

                    <div class="form-group{{ form.name.vars.valid == false ? ' has-error' : '' }}">
                        <label>نام و نام خانوادگی</label>
                        {% if form.name.vars.errors|length > 0 %}
                            <div class="alert alert-flat alert-danger-flat" role="alert">
                                <ul class="list-style-none padding-right-5px">
                                    {% for error in form.name.vars.errors %}
                                        <li><i class="fa fa-quote-right margin-left-5px"></i> {{ error.message|trans }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="text" class="form-control" id="name" name="{{ form.name.vars.full_name }}" value="{{ form.name.vars.value }}" placeholder="نام و نام خانوادگی را وارد نمایید" />
                        </div>
                    </div>

                    <div class="form-group{{ form.mobile.vars.valid == false ? ' has-error' : '' }}">
                        <label>شماره موبایل</label>
                        {% if form.mobile.vars.errors|length > 0 %}
                            <div class="alert alert-flat alert-danger-flat" role="alert">
                                <ul class="list-style-none padding-right-5px">
                                    {% for error in form.mobile.vars.errors %}
                                        <li><i class="fa fa-quote-right margin-left-5px"></i> {{ error.message|trans }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                            <input type="text" class="form-control" id="mobile" name="{{ form.mobile.vars.full_name }}" value="{{ form.mobile.vars.value }}" placeholder="شماره موبایل را وارد نمایید" />
                        </div>
                    </div>

                    <div class="form-group{{ form.email.vars.valid == false ? ' has-error' : '' }}">
                        <label>آدرس ایمیل</label>
                        {% if form.email.vars.errors|length > 0 %}
                            <div class="alert alert-flat alert-danger-flat" role="alert">
                                <ul class="list-style-none padding-right-5px">
                                    {% for error in form.email.vars.errors %}
                                        <li><i class="fa fa-quote-right margin-left-5px"></i> {{ error.message|trans }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                            <input type="text" class="form-control" id="email" name="{{ form.email.vars.full_name }}" value="{{ form.email.vars.value }}" placeholder="آدرس ایمیل را وارد نمایید" />
                        </div>
                    </div>

                    <div class="form-group has-feedback form-password{{ form.password.vars.valid == false ? ' has-error' : '' }}">
                        <label>کلمه عبور </label>
                        {% if form.password.vars.errors|length > 0 %}
                            <div class="alert alert-flat alert-danger-flat" role="alert">
                                <ul class="list-style-none padding-right-5px">
                                    {% for error in form.password.vars.errors %}
                                        <li><i class="fa fa-quote-right margin-left-5px"></i> {{ error.message|trans }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                            <input type="password" class="form-control" id="password" name="{{ form.password.vars.full_name }}" placeholder="کلمه عبور را وارد نمایید" />
                            <i class="fa fa-eye-slash form-control-feedback padding-10px mouse-hand pointer-events-inherit password-key gray-hover"></i>
                        </div>
                    </div>

                    <div class="margin-top-30px"></div>
                    <input type="submit" class="btn btn-success btn-block" value="ایجاد اشتراک">

                    {{ form_row(form._token) }}

                </form>
            </div>

            <div class="margin-top-25px"></div>
            <div class="center">قبلا عضو شده اید؟ <a href="{{ path('login') }}">وارد شوید</a></div>

        </div>
    </div>

    <script>
        showPassword('.form-password');
    </script>

{% endblock %}