{% extends 'theme/admin.html.twig' %}

{% block commandbar %}
    <a href="{{ path('admin_users_user') }}" class="btn btn-default">انصراف و بازگشت</a>
{% endblock %}

{% block body %}
    {{ errors }}
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title bold">ویرایش مشخصات کاربر</h3>
        </div>
        <!-- /.box-header -->
        <form role="form" method="post" id="form_update">
            <div class="box-body">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" {% if tab == 'profile' %} class="active"{% endif %}><a href="#profile" onclick="$('#form_update').prop('action', '{{ path('admin_users_user_edit', {'id': user.id, 'tab': 'profile'}) }}')" aria-controls="profile" role="tab" data-toggle="tab">پروفایل</a></li>
                    <li role="presentation" {% if tab == 'roles' %} class="active"{% endif %}><a href="#roles" onclick="$('#form_update').prop('action', '{{ path('admin_users_user_edit', {'id': user.id, 'tab': 'roles'}) }}')" aria-controls="roles" role="tab" data-toggle="tab">نقش ها</a></li>
                    <li role="presentation" {% if tab == 'credentials' %} class="active"{% endif %}><a href="#credentials" onclick="$('#form_update').prop('action', '{{ path('admin_users_user_edit', {'id': user.id, 'tab': 'credentials'}) }}')" aria-controls="credentials" role="tab" data-toggle="tab">رمز عبور</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane padding-5px padding-top-25px{% if tab == 'profile' %} active{% endif %}" id="profile">
                        {% include ':field:fullname.html.twig' with { "form": form } only %}
                        {% include ':field:mobile.html.twig' with { "form": form } only %}
                        {% include ':field:email.html.twig' with { "form": form } only %}
                        {% include ':field:memo.html.twig' with {"form": form} only %}
                    </div>
                    <div role="tabpanel" class="tab-pane padding-5px padding-top-25px{% if tab == 'roles' %} active{% endif %}" id="roles">
                        {% include ':field:list.usergroup.html.twig' with {"form": form, "usergroup": usergroup, "user": user } only %}
                    </div>
                    <div role="tabpanel" class="tab-pane padding-5px padding-top-25px{% if tab == 'credentials' %} active{% endif %}" id="credentials">
                        {% include ':field:password.html.twig' with { "form": form } only %}
                    </div>
                </div>

            </div>
            <div class="box-footer no-border">
                {% include ':form:update.html.twig' with { "form": form } %}
            </div>
        </form>
        <!-- /.box-body -->
    </div>
{% endblock %}